    <link rel="stylesheet" href="/css/start.css">
</head>
<body>
{{> messages }}
<div id="login-panel">

	<div id="logo">
		<span>§</span><br>
		Opiekun<br>
		Prawny
	</div>

	

	<form action="/" method="POST">

	<input class="login" type="text" name="login" placeholder="Login">
	<input class="login" type="password" name="password" placeholder="Hasło"><br>

	<input type="checkbox" name="remember"> Zapamiętaj mnie

	<hr id="dad">

	<a href="#">Zapomniałeś hasła?</a><br>

	<button id="login" type="submit">Zaloguj się</button>

	</form>
	

</div>